.*
**/__pycache__/
*.egg-info
*.Rproj
*.ipynb
*.png
*.pdf
*.docx
*.doc


others/
results/
data/
build/
paper/src_/
summary/
scripts/
docs/
experiments/
.venv/
.ruff_cache/
.pytest_cache/
.mypy_cache/

!.gitignore
